node_modules/
dist/
build/
!/config/build/
!/config/build/**
.build-version
.wrangler/
.env.production.local
.env.local
config/cloudflare/deploy.env
*.dem
ref
.idea/
.DS_Store
.local
exceptions.txt
/native/target/
